$cell-color: #F1D4AF;
$main-color: #774F38;
$highlight-color: #E08E79;

.container {
  width: 550px;
  padding: 0;
  border: solid 2px $main-color;
  border-radius: 5px;

  .section-action {
    padding: 20px;
    background-color: $main-color;

    .dropdown {
      display: inline-block;
    }
  }

  .section-view {
    display: flex;
    flex-direction: row;

    .section-item {
      padding: 2%;
      border: solid 1px $main-color;
    }

    .section-img {
      width: 300px;

      img {
        margin-bottom: 10px;
        width: 200px;
      }
    }
    .section-layout {

      .imgcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        margin: 1px;
        box-sizing: border-box;
        // background-color: $cell-color;
        border: solid 1px $cell-color;
      }
    }
  }
}

.img {
  cursor: pointer;
}

#imgcontainer-clicked {
  outline: 1px solid $highlight-color;
}

.v-container {
  display: flex;
  flex-direction: row;
}

.h-container {
  display: flex;
  flex-direction: column;
}
