.section-action {
  padding: 10px;
  border: solid black 1px;
}

.section-view {
  display: flex;
  flex-direction: row;

  .section-item {
    padding: 10px;
    border: solid black 1px;
  }

  .section-img {
    width: 100%;
    .img {
      // width: 100%;
    }
  }
  .section-container {

    .imgcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1%;
      width: 300px;
      height: 200px;
      background-color: yellow;
      margin-bottom: 10px;
    }
  }

}
